body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.container {
  display: block;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header{
  background-color: #eeeeee;
}
.main-navigation {
  padding-top: 45px;
  text-align: center;
  height: 70px;
  font-weight: 600;
}
.logo {
  float: left;
  height: 70px;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.main-navigation li{
  float: left;
}
.main-navigation li a{
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  color: black;
  padding: 20px 25px;
  display: block;
}
.user-block {
  float: right;
}
.user-block .cart {
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  display: block;
  background: url(../img/cart-icon.png) no-repeat;
  background-position: 0px center;
  margin: 20px 25px;
  line-height: 30px;
  width: 115px;
  color: #000000;
}
.slider{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
.slider li {
  word-wrap: break-word;
}
.slider-info {
  width: 380px;
  display: inline-block;
  vertical-align: middle;
}
.slider-info h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}
.slider-info p {
  margin: 0;
  margin-bottom: 40px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 160px;
  line-height: 50px;
  background-color: #fb565a;
  color: white;
  
}
.btn-slide {
  width: 240px;
}
.btn-map {
  width: 220px;
}
.slider img {
  vertical-align: middle;
}
.slider-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 430px;
  left: 45%;
}
.slider-nav li{
  margin-right: 20px;
  display: inline-block;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.slider-nav li a{
  font-size: 0;
}
.hidden {
  display: none;
}
.services {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 80px
}
.services li {
  width: 300px;
  margin-right: 130px;
  float: left;
  margin-bottom: 80px;
}
.services li:nth-child(3) {
  margin-right: 0;
}
.services img {
  margin-bottom: 25px;
}
.servises-title {
  margin: 0;
  margin-bottom: 25px;
}
.services p {
  margin: 0;
  margin-bottom: 30px;
}
.green {
  background-color: #00ca74;
}
.yellow {
  background-color: #efc84a;
}
.about-company {
  border-top: 3px solid #eeeeee;
  font-size: 0;
  padding-top: 40px;
  margin-bottom: 70px;
}
.block-info {
  width: 660px;
  display: inline-block;
  margin-right: 140px;
  font-size: 16px;
  vertical-align: middle;
}
.block-info h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
}
.block-info p {
  margin: 0;
  margin-bottom: 40px;
}
.block-info h3 {
  margin: 0;
  margin-bottom: 30px;
}
.block-company {
  width: 360px;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages li {
  margin-bottom: 25px;
}
.advantages li:before {
  content: "---"; /* Добавляем в качестве маркера символ */
  color: #fb565a;
}
.block-company img {
  margin-bottom: 45px;
}
.block-company h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  margin-bottom: 40px;
}
.block-percent {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-percent li {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin-right: 15px;
}
.percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 25px;
}
.percent span {
  font-size: 18px;
  vertical-align: top;
}
.company-logo {
  height: 185px;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  margin-bottom: 80px;
}
.company-logo li {
  display: inline-block;
  background: url(../img/v-line.png) no-repeat;
  background-position: center right;
  width: 25%;
  height: 185px;
}
.company-logo li:nth-child(4) {
  background: none;
}
.company-logo li a {
  display: block;
  height: 185px;
}
.company-logo li:nth-child(4) {
  border: none;
}
.block-map {
  background: url(../img/block-map.png) no-repeat;
  background-position: center;
}
.block-map > div{
   padding: 44px 0;
}
.block-contacts {
  background-color: white;
  padding: 50px;
  width: 220px;
}
.block-contacts h2 {
  margin: 0;
  margin-bottom: 30px;
}
.block-contacts p {
  margin: 0;
  margin-bottom: 25px;
}
.block-social {
  display: inline-block;
  vertical-align: middle;
  margin-right: 130px;
}
.block-social h3 {
  display: none;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}
.social li {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 5px;
}
.social-btn-vk {
  background: url(../img/vk-icon.png) no-repeat;
  background-position: center center;
  height: 80px;
  display: block;
}
.social-btn-fb {
  background: url(../img/fb-icon.png) no-repeat;
  background-position: center center;
  height: 80px;
  display: block;
}
.social-btn-inst {
  background: url(../img/insta-icon.png) no-repeat;
  background-position: center center;
  height: 80px;
  display: block;
}
.block-discounts {
  display: inline-block;
  vertical-align: middle;
  margin-top: 80px;
  margin-bottom: 75px
}
.block-discounts h3 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
}
/* Страница каталог */
.main-title {
  text-align: center;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 120px;
  font-size: 55px;
  line-height: 1;
}
.main-navigation li a.active {
  padding: 0;
  margin: 20px 25px;
  border-bottom: 2px solid #fb565a;
}
.main-navigation a.active {
  border-bottom: 2px solid #fb565a;
}
.catalog-left {
  width: 260px;
  float: left;
  margin-right: 140px;
}
.block-sort {
  width: 760px;
  display: inline-block;
  text-align: right;
  margin: 60px 0;
}
.block-sort fieldset {
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1;
}
.block-sort legend {
  float: left;
  font-weight: bold;
}
legend {
  font-weight: bold;
  text-transform: uppercase;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-left legend {
  float: left;
  width: 100%;
  margin-top: 60px;
}
.catalog-left h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mr-10 {
  margin-right: 10px
}
.ml-30 {
  margin-left: 30px;
}
.block-price {
  width: 260px;
  height: 80px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.scale {
  width: 220px;
  height: 2px;
  margin: 0 20px;
  background-color: #ddd;
}
.progress {
  width: 65%;
  background-color: #00ca74;
  height: 100%;
}
.to-price {
  position: relative;
  top: -12px;
  width: 20px;
  height: 23px;
  display: inline-block;
  background: url(../img/slider-round.png) no-repeat;
}
.do-price {
  position: relative;
  float: right;
  top: -12px;
  width: 20px;
  height: 23px;
  display: inline-block;
  background: url(../img/slider-round.png) no-repeat;
}
.product-groups-filter li label {
  display: inline-block;
  background: url(../img/radio-off.png) no-repeat;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 20px;
}
.product-groups-filter li label.active {
  display: inline-block;
  background: url(../img/radio-on.png) no-repeat;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 20px;
}
.manufacturers-filter li label {
  display: inline-block;
  background: url(../img/checkbox-off.png) no-repeat;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 20px;
}
.manufacturers-filter li label.active {
  display: inline-block;
  background: url(../img/checkbox-on.png) no-repeat;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 20px;
}
.btn-down {
  display: block;
  background: url(../img/sort-down.png) no-repeat;
  width: 9px;
  height: 9px;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 2px;
}
.btn-up {
  display: block;
  background: url(../img/sort-up.png) no-repeat;
  width: 9px;
  height: 9px;
  margin-bottom: 2px;
}
.catalog-content {
  width: 760px;
  display: inline-block;
  font-size: 0;
  text-align: center;
}
.catalog-item {
  width: 360px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-bottom: 35px;
  padding-top: 40px;
  background: #eeeeee;
  position: relative;
  background: url(../img/browser.png) no-repeat;
}
.catalog-item:nth-child(2n+1){
  margin-right: 40px;
}
.catalog-navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.item-block {
  position: absolute;
  bottom: 0;
  background: #eee;
  padding: 20px 60px;
  box-sizing: border-box;
}
.btn-catalog {
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  line-height: 50px;
  background-color: #fb565a;
  color: white;
}
.catalog-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.catalog-navigation li a {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 16px;
  line-height: 50px;
  border-radius: 2px;
}
.catalog-navigation li a.active {
  background-color: white;
  box-sizing: border-box;
  border: 3px solid #eeeeee;
  width: 50px;
  height: 50px;
  border-radius: 2px;
}
.btn-nav {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  color: black;
  padding: 0 80px;
  border-radius: 2px;
}
.catalog-nav {
  float: left;
  margin-bottom: 60px;
}
.filter-sort {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-sort li{
  display: inline-block;
  vertical-align: middle;
}
.filter-sort label {
  margin-right: 25px;
}
#to-price {
  width: 80px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  background: #eeeeee;
  border-radius: 2px;
}
#do-price {
  width: 80px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  background: #eeeeee;
  border-radius: 2px;
  float: right;
}
.product-groups-filter{
  list-style: none;
  margin: 0;
  padding: 0;
}
.manufacturers-filter {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-filter {
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  background: #eee;
  border: none;
  margin-top: 50px;
}
/* модальное окно */
.popup {
  display: block;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.popup form {
  padding: 70px 100px;
  line-height: 18px;
  font-size: 0;
  box-shadow: 0 10px 30px;
  position: relative;
}
.popup h3 {
  font-size: 45px;
  line-height: 1;
  margin: 0;
  margin-bottom: 50px;
}
.form-name {
  display: inline-block;
  width: 360px;
  font-size: 16px;
  margin-right: 40px;
}
.form-name label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
.form-name input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 15px;
  line-height: 48px;
  border-color: #d7dcde;
  border-style: solid;
  border-radius: 2px;
}
.form-email {
  display: inline-block;
  width: 360px;
  font-size: 16px;
}
.form-email label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
.form-email input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 15px;
  line-height: 48px;
  border-color: #d7dcde;
  border-style: solid;
  border-radius: 2px;
}
.form-text {
  display: block;
  font-size: 16px;
}
.form-text label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
.form-text textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 15px;
  line-height: 48px;
  border-color: #d7dcde;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
}
.btn-form {
  text-transform: uppercase;
  background-color: #fb565a;
  color: white;
  width: 260px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.close {
  position: absolute;
  display: block;
  background: url(../img/close-cross.png) no-repeat;
  top: 70px;
  right: 100px;
  width: 21px;
  height: 21px;
  opacity: 0.5;
}